{% extends 'sql_quest_app/SQ_overview.html' %}
    {% block body %}
    <div class="container pb-5">
        <div class="row mt-5 mb-3">
            {{Q|safe}}
        </div>
        
        <div class="container bg-light p-5">

            <section class="container mb-5">
                <table class="table table-hover table-bordered table-sm ">
                    <caption align="top">Quest_table</caption>
                    <thead>
                        <tr>
                            {% for b in ind0 %}
                            <th scope="col" class="col-1">{{b}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for l in ls0 %}
                        <tr>
                        {% for a in l %}
                            <th scope="row"><a href="#" class="text-dark text-decoration-none">{{a}}</a></th>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </section>
        </div>
        <div class="row pt-4">
            <form method="post" action='{% url "SQ_Quest" QA_No=No %}'  class="form-group">
                <p>SQL文入力欄</p>
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-dark btn-lg mb-5">GO</button>
                <button type="button" class="btn btn-light text-dark mb-5 ms-2"> <a href='{% url "SQ_Quest" QA_No=No %}'class="btn text-black">リセット</a></button>     
            </form>
        </div>
        <div class="container bg-light p-5">

            <section class="container mb-5">
                <table class="table table-hover table-bordered table-sm ">
                    <thead>
                        <tr>
                            {% for b in ind %}
                            <th scope="col" class="col-1">{{b}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for l in ls %}
                        <tr>
                        {% for a in l %}
                            <th scope="row"><a href="#" class="text-dark text-decoration-none">{{a}}</a></th>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </section>
        </div>
        {% if flag == 0 %}
        <div class="container">
            <div class="row">
                <div class="alert alert-success my-5" role="alert">
                    <h3>Questクリア!!正解です!!</h3>
                    <div class="offset-10">
                        <button type="button" class="btn btn-light text-dark"> <a href='{% url "SQ_Quest" QA_No=Next %}'class="btn text-black">次のクエストへ</a></button>
                    </div>
                </div>
                
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="row">
            <div class="alert alert-danger my-5" role="alert">
                <h3>失敗・・・もう一度トライしましょう!</h3>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}