{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>SQL Quest</title>

    <style>
        .bg_main{
            background-color: #e0e0e0;
        }
    </style>
</head>
<body class="bg_main">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href='{% url "SQ_overview" %}'><h1>SQL Quest</h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav mr-auto">
                        <button type="button" class="btn btn-dark border-secondary text-white nav-link btn-md mx-2"><a href='{% url "SQ_overview" %}' class="btn text-white">トップページ</a></button>
                        <button type="button" class="btn btn-light text-dark nav-link btn-md mx-2"> <a href='{% url "logout" %}' class="btn text-black">ログアウト</a></button>
                        <button type="button" class="btn btn-secondary nav-link btn-md mx-2"> <a href='{% url "login" %}' class="btn text-white">ログイン</a></button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% block body %}
<div class="container pb-5">
    <div class="row mt-5 mb-3">
        <div class="text-center">                
            <h1>クエストを攻略しよう</h1>
            <p>以下にクエストの一覧を表示します。<br>全てクリアしSQLをしっかり学びましょう！</p>
        </div>
    </div>
    
    <section class="container mb-5 h5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1"></th>
                    <th scope="col" class="col-2 h3">Quest No.</th>
                    <th scope="col" class="col h3">概要</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <th scope="row"><a href='{% url "SQ_Quest" QA_No=d.QA_No %}' class="text-dark text-decoration-none">◆</a></th>
                    <th scope="row"><a href='{% url "SQ_Quest" QA_No=d.QA_No %}' class="text-dark text-decoration-none">Quest{{d.QA_No}}</a></th>
                    <th scope="row"><a href='{% url "SQ_Quest" QA_No=d.QA_No %}' class="text-dark text-decoration-none">{{d.OV}}</a></th>
                </tr>
                {% endfor %}                    
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
<footer class="mt-auto bg-dark text-white text-center fixed-bottom">
    <p>© 2021 SQL Quest</p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>